@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}
.menu-toggle {
    display: none;
}

body {
  
    height: 100vh;
}

header {
    width: 100%;
    margin-bottom: 100px;
}

.container_h {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 50px auto;
}

.logo_h {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.nav_h {
    width: 50%;
}

.title_h {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

ul li>a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
}

.ul_h {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.option_b {
    width: 68%;
}

.a_orange {
    color: #FF5400;
    font-weight: 700;
}

.container_all {
    width: 80%;
    margin: 0 auto;
}

.banner_h {
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 106px;
}

.gradient_b {

    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 15px;
}

.p1 {
    padding-top: 106px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.p2 {
    padding-top: 24px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.option_b {

    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
}

select,
#text {
    text-indent: 5%;
    text-overflow: '';
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    color: rgba(19, 19, 24, 0.651);
    font-size: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: #FF5400;
    width: 20%;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.btn>button
{
    background: none;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* main contents */

/* section1 */
.s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.text_s1,
.image_s1 {
    flex: 1;
}

.text_s1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p4 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.p5 {

    list-style-type: disc;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

}


.ol_s1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}


.p6 {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;

}

.button_primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    cursor: pointer;

}

.image_s1 {
    text-align: right;
}

.image_s1>img {
    height: auto;
}

/* section 2 */

.s2 {
    margin: 0 auto;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

}

.container_grid {
    position: relative;
    display: inline-block;

}

.container_grid img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;

}

/* grids */
.g1 {
    grid-column: 1/span 6;
}

.g2 {
    grid-column: 7/ span 6;
}

.g3 {
    grid-column: 1/span 4;
}

.g4 {
    grid-column: 5/ span 5;

}

.g5 {
    grid-column: 10/ span 3;
}

.g6 {
    grid-column: 1/span 5;
}

.g7 {
    grid-column: 6/ span 7;
}


/* section 3 */
.s3 {
    margin-bottom: 100px;
}

.p7 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card_holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;

}

.card {
    width: 100%;
    padding: 30px;
    border-radius: 16px;
}

.card1 {
    grid-column: 1/span 2;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card2 {
    grid-column: 3/span 2;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card3 {
    grid-column: 2/span 2;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* optional section 1 */

.optional1
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.optional1>p
{
    width: 50%;
}
.big_card1 {
    background-image: url('./Images/Group\ 39.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.smallcard {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 50%;
    height: 90%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.small1
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-wrap: wrap;
}
.smallicon
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.smallicon>.fa-solid 
{
    color: #FF5400;
}

.price
{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
text-align: left;
}
.big_card2
{
    background-image: url('./Images/Group\ 40.png');
    justify-content: start;
}
.package
{
    width: 210px;
height: 52px;
}
/* optional 2 */
.po2_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}
.po2_txt
{
    width: 48%;
}
.p02
{
    font-weight: 700;
}
.po2_img
{
    width: 48%;
    height: 500px;
    background-image: url('./Images/Group 40089.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    background-position: center;
    border-radius: 15px;
    position: relative;
}
.po2_img>img
{
    width: 100%;
    height: 100%;
}
.text-overlayop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;

}
.controls
{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.controls2
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.fa-pause,.fa-volume-xmark,.fa-expand,.fa-ellipsis-vertical
{
    color: #FFF;
    cursor: pointer;
}
.left,.right
{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.container_grid2 {
    position: relative;
    display: inline-block;

}




/* unique section */
.review_container
{
    background-image: url('./Images/review-background.jpg');
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}
.review-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;


  }

  .review-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.724);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
  }

  .user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    margin-bottom: 10px;
  }

  .stars {
    color: #ff8c00;
  }






/* section 4 */


.grid_s4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;



}

.newletter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding: 20px;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    grid-column: 1/ span 5;
}

.newletter>input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    border: none;
    text-indent: 5%;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo {
    grid-column: 6/ span 7;
    position: relative;

}

.photo>img {
    width: 100%;
    height: 100%;
}
.save70 {
    background-color: #FF5400;
    position: absolute;
    transform-origin: right bottom; 
    transform: rotate(-25deg) translate(19%, -90%);
    border-radius: 15px;
    color: #FFF;
    padding: 1.5rem 2rem;
    text-align: center;
    right: 0;
    bottom: 0; 
}



.bt_s4 {
    width: 100%;
}


/* footer section */

footer {
    width: 100%;
    padding: 110px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;

}

.container_foot {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 1rem;
}

.logo_foot {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon_foot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.fa-brands {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.fa-square-instagram {

    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fec70e);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}
.plast
{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}



















@media screen and (max-width:1360px) {

    .title_h {
        font-size: 1.5rem;
    }

    .image_s1>img {
        width: 100%;
    }
}